[importlinter]
root_package = aci
include_external_packages = true

[importlinter:contract:common_independence]
name = Common module is independent
type = forbidden
source_modules =
    aci.common
forbidden_modules =
    aci.cli
    aci.control_plane
    aci.mcp

[importlinter:contract:mcp_isolation]
name = MCP module can only import from common
type = forbidden
source_modules =
    aci.mcp
forbidden_modules =
    aci.cli
    aci.control_plane


[importlinter:contract:control_plane_isolation]
name = Control Plane module can only import from common
type = forbidden
source_modules =
    aci.control_plane
forbidden_modules =
    aci.cli
    aci.mcp

[importlinter:contract:cli_isolation]
name = CLI module can only import from common and control_plane
type = forbidden
source_modules =
    aci.cli
forbidden_modules =
    aci.mcp
    aci.control_plane
